@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Primary action button */
.btn-primary {
    @apply w-full py-3 px-6 text-lg font-medium rounded-xl text-white bg-blue-600 hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 transition;
}

/* Secondary action button */
.btn-secondary {
    @apply p-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600 p-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600;
}

.btn-link {
    @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 transition cursor-pointer hover:underline;
}

/* Input fields */
.input-text {
    @apply w-full px-4 py-2 rounded-lg bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-white border border-gray-300 dark:border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

/* Input labels */
.input-label {
    @apply block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300
}

/* Card/container */
.card {
    @apply max-w-xl w-full px-6 py-10 bg-white dark:bg-gray-800 rounded-2xl shadow-xl text-center;
}

.avatar-option {
    @apply text-3xl rounded-full border-2 border-transparent peer-checked:border-blue-500 dark:peer-checked:border-blue-400 transition mb-1;
}

/* Recommended icon sizes */
span.size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
}

span.size-24 {
    font-size: 24px;
    font-variation-settings: 'OPSZ' 24;
}

span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
}

span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}